@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors: {
  rose: "#EC516B";
  taupe: "#A8918D";
  almostblack: "#2D2D2D";
  cream: "#EFE8DF";
  mint: "#D8EFDE";
  offwhite: "#F8F8F7";
} */

.ais-SearchBox {
  margin: 1em 0;
}

.ais-Hits-list {
  @apply grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8;
}

.ais-Pagination-list {
  @apply flex justify-center items-center gap-x-6;
}

.ais-SearchBox-form {
  @apply grid grid-cols-1 -mt-5 justify-end lg:w-5/6 lg:h-3;
}

.ais-SearchBox-submit {
  @apply invisible absolute mt-4 p-1;
}

.ais-SearchBox-reset {
  @apply absolute mt-4 ml-2;
}

.ais-SearchBox-input {
  @apply pl-6 bg-white;
}

.ais-RefinementList-count {
  @apply bg-gray-200;
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  @layer components {
    .ts-black {
      text-shadow: 4px 2px 8px black;
    }
    .ts-white {
      text-shadow: 4px 2px 12px white;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}

.uploadcare-settings {
  --cfg-pubkey: "9371e1e21ff6cdffe0b2";
  /* all available settings https://uploadcare.github.io/blocks/solutions/file-uploader/#configuration */
  font-family: Questrial, sans-serif;
  border-radius: 0px;
}

.uploadcare-settings button,
.not-active {
  border-radius: 0px;
}

.uploadcare-settings button:not(.mini-btn) {
  background-color: #efe8df;
  padding: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 0px;
  color: #2d2d2d;
}

.uploadcare-settings button:hover {
  background-color: #a8918d;
  color: white;
}

.uploadcare-settings span {
  font-family: Questrial, sans-serif;
}

.credits {
  display: none;
}
